# add the version for these libraries
# python 3.9
numpy==1.24.3
mph==1.2.3
tqdm==4.65.0
matplotlib==3.7.2
keras==2.13.1
pymoo==0.6.0.1
pandas==2.0.3
attrs== 21.3.0
shapely==2.0.1
tensorflow==2.13.0
descartes==1.1.0